git+https://github.com/nirvaris/nirvaris-style-snippet
git+https://github.com/nirvaris/nirvaris-theme-default
django-smtp-ssl==1.0
pycrypto==2.6.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.5
django-postgrespool==0.3.0
django-toolbelt==0.0.1
gunicorn==19.3.0
psycopg2==2.6.1
selenium==2.47.3
SQLAlchemy==1.0.8
static3==0.6.1
wheel==0.24.0